# EXPERIMENT - 22
# BY
# CH.S.B.CHARAN
# ECE - IOT
# 122010406001

In [1]:
import pandas as pd
data = pd.read_csv("NetflixOriginals.csv")

In [8]:
data

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi
...,...,...,...,...,...,...
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
582,Emicida: AmarElo - It's All For Yesterday,Documentary,"December 8, 2020",89,8.6,Portuguese
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       584 non-null    object
 1   Genre       584 non-null    object
 2   Premiere    584 non-null    object
 3   Runtime     584 non-null    int64
 4   IMDB Score  584 non-null    float64
 5   Language    584 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 27.5+ KB

In [3]:
data.dtypes

Title          object
Genre          object
Premiere       object
Runtime         int64
IMDB Score    float64
Language       object
dtype: object

In [4]:
data.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi

In [5]:
data.tail()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
582,Emicida: AmarElo - It's All For Yesterday,Documentary,"December 8, 2020",89,8.6,Portuguese
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

In [6]:
data.columns

Index(['Title', 'Genre', 'Premiere', 'Runtime', 'IMDB Score', 'Language'], dtype='object')

In [7]:
data.items

<bound method DataFrame.items of                                            Title                  Genre  \
0                                Enter the Anime            Documentary
1                                    Dark Forces               Thriller
2                                        The App  Science fiction/Drama
3                                 The Open House        Horror thriller
4                                    Kaali Khuhi                Mystery
..                                           ...                    ...
579        Taylor Swift: Reputation Stadium Tour           Concert Film
580  Winter on Fire: Ukraine's Fight for Freedom            Documentary
581                      Springsteen on Broadway           One-man show
582    Emicida: AmarElo - It's All For Yesterday            Documentary
583     David Attenborough: A Life on Our Planet            Documentary

              Premiere  Runtime  IMDB Score                  Language
0       August 5, 2019       58         2.5          English/Japanese
1      August 21, 2020       81         2.6                   Spanish
2    December 26, 2019       79         2.6                   Italian
3     January 19, 2018       94         3.2                   English
4     October 30, 2020       90         3.4                     Hindi
..                 ...      ...         ...                       ...
579  December 31, 2018      125         8.4                   English
580    October 9, 2015       91         8.4  English/Ukranian/Russian
581  December 16, 2018      153         8.5                   English
582   December 8, 2020       89         8.6                Portuguese
583    October 4, 2020       83         9.0                   English

[584 rows x 6 columns]>

In [9]:
data.describe()

          Runtime  IMDB Score
count  584.000000  584.000000
mean    93.577055    6.271747
std     27.761683    0.979256
min      4.000000    2.500000
25%     86.000000    5.700000
50%     97.000000    6.350000
75%    108.000000    7.000000
max    209.000000    9.000000

In [10]:
data.count(axis=0)

Title         584
Genre         584
Premiere      584
Runtime       584
IMDB Score    584
Language      584
dtype: int64

In [11]:
data.count(axis=1)

0      6
1      6
2      6
3      6
4      6
      ..
579    6
580    6
581    6
582    6
583    6
Length: 584, dtype: int64

In [12]:
data.sum(axis=0)

Title         Enter the AnimeDark ForcesThe AppThe Open Hous...
Genre         DocumentaryThrillerScience fiction/DramaHorror...
Premiere      August 5, 2019August 21, 2020December 26, 2019...
Runtime                                                   54649
IMDB Score                                               3662.7
Language      English/JapaneseSpanishItalianEnglishHindiHind...
dtype: object

In [14]:
data.sum(axis=1)

0       60.5
1       83.6
2       81.6
3       97.2
4       93.4
       ...
579    133.4
580     99.4
581    161.5
582     97.6
583     92.0
Length: 584, dtype: float64

In [13]:
data['Runtime'].sum()

54649

In [19]:
data['IMDB Score'].sum()

3662.7

In [15]:
data.median()

Runtime       97.00
IMDB Score     6.35
dtype: float64

In [16]:
data.mean()

Runtime       93.577055
IMDB Score     6.271747
dtype: float64

In [17]:
data.sum()

Title         Enter the AnimeDark ForcesThe AppThe Open Hous...
Genre         DocumentaryThrillerScience fiction/DramaHorror...
Premiere      August 5, 2019August 21, 2020December 26, 2019...
Runtime                                                   54649
IMDB Score                                               3662.7
Language      English/JapaneseSpanishItalianEnglishHindiHind...
dtype: object

In [18]:
data['Runtime'].mean()

93.57705479452055

In [20]:
data['IMDB Score'].mean()

6.2717465753424655

In [21]:
data.cummin()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Documentary,"August 21, 2020",58,2.5,English/Japanese
2,Dark Forces,Documentary,"August 21, 2020",58,2.5,English/Japanese
3,Dark Forces,Documentary,"August 21, 2020",58,2.5,English
4,Dark Forces,Documentary,"August 21, 2020",58,2.5,English
...,...,...,...,...,...,...
579,#REALITYHIGH,Action,"April 1, 2021",4,2.5,Bengali
580,#REALITYHIGH,Action,"April 1, 2021",4,2.5,Bengali
581,#REALITYHIGH,Action,"April 1, 2021",4,2.5,Bengali
582,#REALITYHIGH,Action,"April 1, 2021",4,2.5,Bengali
583,#REALITYHIGH,Action,"April 1, 2021",4,2.5,Bengali

In [23]:
data['Runtime'].cumprod()

0              58
1            4698
2          371142
3        34887348
4      3139861320
          ...
579             0
580             0
581             0
582             0
583             0
Name: Runtime, Length: 584, dtype: int64

In [25]:
data.cummax()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Enter the Anime,Thriller,"August 5, 2019",81,2.6,Spanish
2,The App,Thriller,"December 26, 2019",81,2.6,Spanish
3,The Open House,Thriller,"January 19, 2018",94,3.2,Spanish
4,The Open House,Thriller,"October 30, 2020",94,3.4,Spanish
...,...,...,...,...,...,...
579,�l�t?r�,Zombie/Heist,"September 9, 2020",209,8.4,Turkish
580,�l�t?r�,Zombie/Heist,"September 9, 2020",209,8.4,Turkish
581,�l�t?r�,Zombie/Heist,"September 9, 2020",209,8.5,Turkish
582,�l�t?r�,Zombie/Heist,"September 9, 2020",209,8.6,Turkish
583,�l�t?r�,Zombie/Heist,"September 9, 2020",209,9.0,Turkish

In [26]:
data['Runtime'].pct_change()

0           NaN
1      0.396552
2     -0.024691
3      0.189873
4     -0.042553
         ...
579    0.470588
580   -0.272000
581    0.681319
582   -0.418301
583   -0.067416
Name: Runtime, Length: 584, dtype: float64